* {
    margin: 0;
    padding: 0;
}

body {

}

/*навзвание заметок*/
h3 {
    font-weight: 500;

}

/*дата и время*/
p {
    font-size: 15px;
}

/*колонки блок*/
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

/*сами колонки*/
.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: black 3px solid;
}

.todo-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 140px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    position: fixed;
}

.line{
    padding: 0px 10px 10px 0px;
    border-bottom: solid 3px gray;
}

#creating_record{
    display: flex;
    justify-content: center;

}
h1{
    text-align: center;
}

.listed{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn{
    margin-left: 45px;
}