<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Todo list</title>
</head>
<body>
<div id="app">
    <div id="created">
        <h1>Заметки</h1>
        <div>
            <input class="create" @keyup.enter="createNote" v-model="noteTitle" placeholder="заметка">
            <button class="create" @click="createNote">Добавить</button>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="column col1" >
            <p>блок №1</p>
            <list  @column1_move="moveColumn1" :notes="notes" :note_data="note_data" v-for="(note_data, index) in notes" :key="index" ></list>
            <!--        v-if="note_data.completedNum <= 50"-->
        </div>

        <div class="column col2">
            <p>блок №2</p>
            <list  @column2_move="moveColumn2" :notes2="notes2" :note_data="note_data" v-for="(note_data, index) in notes2" :key="index" ></list>
            <!--        v-if="note_data.completedNum > 50 && note_data.completedNum !== 100"-->
        </div>

        <div class="column col3">
            <p>блок №3</p>
            <list  :notes3="notes3" :note_data="note_data" v-for="(note_data, index) in notes3" :key="index" ></list>
            <!--        v-if="note_data.completedNum === 100"-->
        </div>
    </div>
</div>
</body>
</html>